* {
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  font-family: istok_web;
  font-weight: 400;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* letter-spacing: 0.8px; */
  outline: 0;
  outline-offset: 0;
}

@font-face {
  font-family: istok_web;
  src: url(../fonts/IstokWeb-Regular.ttf);
}
:root {
  --black: #000;
  --pink: #FF1493;
  --blue: #3B5AF1;
  --white: #ffffff;
  --grey: #a19d9d;
  --input_bcg: #F4F3EE66;
  --habits-hover: #ec6bb0;
  --scrollbar: #9321964D;
}

.text_title {
  font-weight: 700;
  color: var(--pink);
}

.text_bold {
  font-weight: 700;
  font: bold;
}

.text_link {
  text-decoration: none;
  color: var(--black);
}

.text_link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.text_pink {
  color: var(--pink);
}

.text_blue {
  color: var(--blue);
}

header {
  margin: 30px 175px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-style: solid;
  border-bottom-color: var(--black);
  border-bottom-width: 1px;
}

.header__navbar {
  display: flex;
  align-items: start;
  gap: 40px;
}

.header__navbar button {
  font-weight: 400;
  font-size: 20px;
  background-color: var(--white);
  transition: all 0.3s ease 0s;
  padding: 25px 0px;
}

.header__navbar button:hover {
  cursor: pointer;
  transform: translateY(-7px);
}

.main {
  margin: 100px 175px;
}

.main__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__form__user-info {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  height: 650px;
  margin: 0px 75px;
}

.main__form__user-info .main__form__user-info__title {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 30px;
}

.main__form__user-info .main__form__user-info__card__button {
  padding: 10px 75px;
  background-color: var(--pink);
  font-size: 18px;
  margin-top: 30px;
  border-radius: 10px;
  color: var(--white);
  font-weight: 700;
  line-height: 18px;
  transition: 0.2s;
  border: 1px solid var(--pink);
}

.main__form__user-info .main__form__user-info__card__button:hover {
  color: var(--pink);
  background-color: var(--white);
  cursor: pointer;
}

.main__form__user-info__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 36px;
  width: 320px;
}

.main__form__user-info__card div:not(.main__form__user-info__card__gender) {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main__form__user-info__card div:not(.main__form__user-info__card__gender) label {
  font-size: 16px;
  line-height: 16px;
}

.main__form__user-info__card div:not(.main__form__user-info__card__gender) input {
  padding: 0px 15px;
  font-size: 18px;
  background-color: var(--input_bcg);
  width: 100%;
  height: 42px;
  border-radius: 10px;
}

.main__form__user-info__card div:not(.main__form__user-info__card__gender) input[type-date] ::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  background: url(../icons/telegram.svg) no-repeat center;
  background-size: contain;
}

.main__form__user-info__card div:not(.main__form__user-info__card__gender) textarea {
  padding: 5px 15px;
  background-color: var(--input_bcg);
  height: 100px;
  border: none;
  position: relative;
  border-radius: 10px;
  font-size: 18px;
  overflow: auto;
  resize: none;
}

.main__form__user-info__card .main__form__user-info__card__text {
  font-size: 12px;
  line-height: 12px;
  opacity: 50%;
  width: 100%;
  margin-bottom: 60px;
}

.main__form__user-info__card__gender {
  display: flex;
}

.main__form__user-info__card__gender label {
  font-size: 18px;
}

.main__form__user-info__card__gender input:checked + label::before {
  background-image: url("../icons/radio-active.svg");
}

.main__form__user-info__card__gender input {
  display: none;
  z-index: -1;
}

.main__form__user-info__card__gender .main__form__user-info__card__gender_male {
  margin-right: 10px;
  margin-left: 5px;
}

.main__form__user-info__card__gender .main__form__user-info__card__gender_male::before {
  content: "";
  height: 17px;
  width: 17px;
  background-image: url("../icons/radio-inactive.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
}

.main__form__user-info__card__gender .main__form__user-info__card__gender_male:hover {
  cursor: pointer;
}

.main__form__user-info__card__gender .main__form__user-info__card__gender_female {
  margin-right: 5px;
  margin-left: 10px;
}

.main__form__user-info__card__gender .main__form__user-info__card__gender_female::before {
  content: "";
  height: 17px;
  width: 17px;
  background-image: url("../icons/radio-inactive.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  margin-right: 10px;
}

.main__form__user-info__card__gender .main__form__user-info__card__gender_female:hover {
  cursor: pointer;
}

.main__form__user-habits {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  margin-left: 75px;
  height: 650px;
}

.main__form__user-habits .main__form__user-habits__title {
  font-size: 32px;
  line-height: 32px;
}

.main__form__user-habits .main__form__user-habits__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main__form__user-habits .main__form__user-habits__avatar input {
  display: none;
}

.main__form__user-habits .main__form__user-habits__avatar img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin: 45px 0px;
}

.main__form__user-habits .main__form__user-habits__avatar button {
  padding: 14px 70px;
  background-color: var(--input_bcg);
  border: 1px solid var(--input_bcg);
  border-radius: 10px;
  transition: 0.2s;
}

.main__form__user-habits .main__form__user-habits__avatar button label {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: var(--black);
  transition: 0.2s;
}

.main__form__user-habits .main__form__user-habits__avatar button label:hover {
  cursor: pointer;
}

.main__form__user-habits .main__form__user-habits__avatar button:hover {
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid var(--pink);
}

.main__form__user-habits__box {
  margin-top: 30px;
  padding: 15px 15px;
}

.main__form__user-habits__box p {
  font-size: 16px;
  line-height: 16px;
}

.main__form__user-habits__box .main__form__user-habits__box__habits {
  height: 260px;
  width: 300px;
  border-radius: 10px;
  background-color: var(--input_bcg);
  padding: 20px 20px;
  flex-wrap: wrap;
  display: flex;
  align-items: start;
  gap: 10px;
  overflow-y: scroll;
}

.main__form__user-habits__box .main__form__user-habits__box__habits::-webkit-scrollbar {
  height: auto;
  width: 6px;
}

.main__form__user-habits__box .main__form__user-habits__box__habits::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 10px;
}

.habit__container {
  padding: 8px 8px;
  border-radius: 12px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--white);
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.habit__container:has(input:checked) {
  background-color: var(--pink);
  color: var(--white);
}

.habit__container:hover {
  cursor: pointer;
  background-color: var(--habits-hover);
  color: var(--white);
}

.habit__container input {
  display: none;
}

.footer {
  margin-top: 50px;
  border-top: 1px solid var(--black);
}

.footer__text {
  margin: 35px 175px;
  font-size: 20px;
} 

/*# sourceMappingURL=style2.css.map */
