* {
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    font-family: istok_web;
    font-weight: 400;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* letter-spacing: 0.8px; */
    outline: 0;
    outline-offset: 0;
    &::-webkit-scrollbar{
        height: auto;
        width: 6px;
    }
    &::-webkit-scrollbar-thumb{
        background-color:var(--scrollbar);
        border-radius:10px;
    }
}

@font-face {
    font-family: istok_web;
    src: url(../fonts/IstokWeb-Regular.ttf);
}
:root{
    --black: #000;
    --pink: #FF1493;
    --blue: #3B5AF1;
    --white: #ffffff;
    --grey: #a19d9d;
    --input_bcg: #F4F3EE66;
    --habits-hover: #ec6bb0;
    --scrollbar: #9321964D;
}

//*разные стили для текста//

.text_title{
    font-weight: 700;
    color: var(--pink);
}
.text_bold{
    font-weight: 700;
    font: bold;
}
.text_link{
    text-decoration: none;
    color:var(--black);
    &:hover{
        cursor:pointer;
        text-decoration: underline;
    }
}
.text_pink{
    color: var(--pink);
}
.text_blue{
    color:var(--blue);
}

//* <3 //

//* Шапка *//

header{
    margin: 30px 175px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-bottom-color: var(--black);
    border-bottom-width: 1px;
}

.header__navbar{
    display: flex;
    align-items:start;
    gap: 40px;
    button {
        font-weight: 400;
        font-size: 20px;
        background-color: var(--white);
        transition: all 0.3s ease 0s;
        padding: 25px 0px;
        &:hover{
            cursor: pointer;
            transform: translateY(-7px);
        }
    }
    
}
//* <3 //

//* main //

.main{
    margin: 100px 175px;
}
@mixin display-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__form{
    @include display-center;
}
.main__form__user-info{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    height: 650px;
    margin:0px 75px;
    .main__form__user-info__title{
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 30px
    }
    .main__form__user-info__card__button{
        padding: 10px 75px;
        background-color: var(--pink);
        font-size: 18px;
        margin-top: 30px;
        border-radius: 10px;
        color: var(--white);
        font-weight: 700;
        line-height: 18px;
        transition: .2s;
        border: 1px solid var(--pink);
        &:hover{
            color:var(--pink);
            background-color: var(--white);
            cursor: pointer;
        }
    }
}
.main__form__user-info__card{
    @include display-center;
    flex-direction: column;
    gap: 36px;
    width: 320px;
    div:not(.main__form__user-info__card__gender){
        display: flex;
        flex-direction: column;
        width: 100%;
        label{
            font-size: 16px;
            line-height: 16px;
        }
        input{
            padding: 0px 15px;
            font-size: 18px;
            background-color: var(--input_bcg);
            width: 100%;
            height: 42px;
            border-radius: 10px;
            &[type-date]{
                ::-webkit-calendar-picker-indicator {
                    color: transparent;
                    opacity: 1;
                    background: url(../icons/telegram.svg) no-repeat center;
                    background-size: contain;
                }
            }
        }
        textarea{
            padding: 5px 15px;
            background-color: var(--input_bcg);
            height: 100px;
            border: none;
            position: relative;
            border-radius: 10px;
            font-size: 18px;
            overflow: auto;
            resize: none;
        }
    }
    .main__form__user-info__card__text{
        font-size: 12px;
        line-height: 12px;
        opacity: 50%;
        width:100%;
        margin-bottom: 60px;
    }
}

.main__form__user-info__card__gender{
    display: flex;
    label{
        font-size: 18px;
    }
    input:checked+label::before{
        background-image: url("../icons/radio-active.svg");
    }
    input{
        display: none;
        z-index: -1;
    }
    @mixin radio-icon{
        &::before{
            content: "";
            height: 17px;
            width: 17px;
            background-image: url("../icons/radio-inactive.svg");
            background-position: 50%;
            background-repeat: no-repeat;
            display: inline-block;
            transition: all .2s ease-in-out;
            margin-right: 10px;
        }
        &:hover{
            cursor:pointer;
        }
    }
    .main__form__user-info__card__gender_male{
        margin-right: 10px;
        margin-left: 5px;
        @include radio-icon;
    }
    .main__form__user-info__card__gender_female{
        margin-right: 5px;
        margin-left: 10px;
        @include radio-icon;
    }

}




.main__form__user-habits{
    display: flex;
    align-items:center;
    justify-content: start;
    flex-direction: column;
    margin-left: 75px;
    height: 650px;
    .main__form__user-habits__title{
        font-size: 32px;
        line-height: 32px;
    }
    .main__form__user-habits__avatar{
        @include display-center;
        flex-direction: column;
        input{
            display: none;
        }
        img{
            width: 150px;
            height: 150px;
            border-radius: 100%;
            margin: 45px 0px;
        }
        button{
            padding: 14px 70px;
            label{
                font-size: 18px;
                line-height: 18px;
                font-weight: 700;
                color:var(--black);
                transition: .2s;
                &:hover{
                    cursor: pointer;
                }
            }
            background-color: var(--input_bcg);
            border:1px solid var(--input_bcg);
            border-radius: 10px;
            transition: .2s;
            &:hover{
                cursor: pointer;
                background-color:var(--white);
                border: 1px solid var(--pink);
            }
        }
    }
}

.main__form__user-habits__box{
    margin-top: 30px;
    padding: 15px 15px;
    p{
        font-size: 16px;
        line-height: 16px;
    }
    .main__form__user-habits__box__habits{
        height: 260px;
        width: 300px;
        border-radius:10px;
        background-color: var(--input_bcg);
        padding:20px 20px;
        flex-wrap: wrap;
        display: flex;
        align-items: start;
        gap: 10px;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            height: auto;
            width: 6px;
        }
        &::-webkit-scrollbar-thumb{
            background-color:var(--scrollbar);
            border-radius:10px;
        }
    }
}

.habit__container{
    &:has(input:checked){
        background-color:var(--pink);
        color:var(--white)
    }
    padding: 8px 8px;
    border-radius:12px;
    height: fit-content;
    background-color: var(--white);
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover{
        cursor: pointer;
        background-color: var(--habits-hover);
        color:var(--white)
    }
    input{
        display: none;
    }
}
//* <3 //

//* подвал //

.footer{
    margin-top: 50px;
    border-top: 1px solid var(--black);
}
.footer__text{
    margin: 35px 175px;
    font-size: 20px;
}

//* <3 //

